body {
    background-color: #E8FFFB;
    font-family: sans-serif;
}

header {
    background-color: #E8FFFB;
    padding: 10px;
    display: flex;
}

.logo {
    width: 200px;
    margin-left: 1px;
    margin-top: 1px;
}

.container {
    display: flex;
}

.left {
    flex: 1;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

.right { 
    flex: 2;
    padding: 50px;
    background-color: #ffffff;
    overflow-y: auto;
    margin-left: 700px;
    margin-right: 80px;
    position: relative;
}

.left img {
    max-width: 300px; 
    height: auto;
    margin-top: 70px
}

img {
    max-width: 100%;
    height: auto;
}

.harga {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.logo-whatsapp {
    display: flex;
    align-items: center; 
    background-color: #ae00ff;
    width: 175px;
    height: 45px;
    
}

.logo-whatsapp img {
    width: 35px;
    margin-left: 10px; 
    margin-bottom: 70px;
}

.whatsapp-link {
    text-decoration: none;
    display: flex; 
    align-items: center;
}


.whatsapp-text {
    font-size: 20px; 
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #E8FFFB;
}

ul {
    list-style-type: none;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
}

li {
    margin-bottom: 10px;
}
