body {
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 20px; 
  font-family: 'Poppins', sans-serif;
}

.TambahTransaksi {
  background-color: #9162FA; 
  color: #ffffff; 
  text-decoration: none;
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px; 
}

.TambahTransaksi:hover{
  background-color: #100a64;
}

.transaksi + hr {
  border: 1px solid #864AFA;
  margin-top: 0;


}
.table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Poppins', sans-serif;
}

.table th,
.table td {
  padding: 8px 16px;
  border-bottom: 1px solid #864AFA;
}

.table th {
  text-align: left;
}

.tombol {
  background-color: #864AFA; 
  color: #ffffff;
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.tombol:hover{
  background-color: #210268;
}